<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Books</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width=10%;">
                        <a style="cursor:pointer;" ng-click="orderBooks = 'isbn'; direction =!direction">
                            <i class="fa fa-arrow-up" ng-hide="orderBooks"></i>
                            <i class="fa fa-arrow-down" ng-show="orderBooks"></i>
                            <span>ISBN</span>
                        </a>
                    </th>
                    <th style="width:50%;">
                        <a style="cursor:pointer;" ng-click="orderBooks = 'title'; direction =!direction">
                            <i class="fa fa-arrow-up" ng-hide="orderBooks"></i>
                            <i class="fa fa-arrow-down" ng-show="orderBooks"></i>
                            <span>Book Title</span>
                        </a>
                    </th>
                    <th style="width:25%;">
                        <a style="cursor:pointer;" ng-click="orderBooks = 'author'; direction =!direction">
                            <i class="fa fa-arrow-up" ng-hide="orderBooks"></i>
                            <i class="fa fa-arrow-down" ng-show="orderBooks"></i>
                            <span>Author</span>
                        </a>
                    </th>
                    <th style="width:15%;">
                        <a style="cursor:pointer;" ng-click="orderBooks = 'price'; direction = !direction">
                            <i class="fa fa-arrow-up" ng-hide="orderBooks"></i>
                            <i class="fa fa-arrow-down" ng-show="orderBooks"></i>
                            <span>Price</span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody ng-model="order.book" name="book"
                       ng-repeat="book in store.listBooks() | filter:filterBooks | orderBy:orderBooks:direction">
                <tr>
                    <td ng-click="book.showDetails = !book.showDetails;" style="cursor:pointer;">{{book.ISBN}}</td>
                    <td ng-click="book.showDetails = !book.showDetails;" style="cursor:pointer;">{{book.title}}</td>
                    <td ng-click="book.showDetails = !book.showDetails;" style="cursor:pointer;">{{book.author}}</td>
                    <td ng-click="book.showDetails = !book.showDetails;" style="cursor:pointer;">{{book.price |
                        currency}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="store.addToCart(book);">Add to cart
                        </button>
                    </td>
                </tr>
                <tr>
                </tr>
                </tbody>
                <tbody ng-show="loading">
                <tr>
                    <td>Loading data...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
