<div class="col-md-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Your Orders</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Sub total</th>
                </tr>
                </thead>
                <tbody ng-repeat="book in store.viewCart()">
                <tr>
                    <td style="width:40%;">{{book.title}}</td>
                    <td style="width:15%;">2</td>
                    <td style="width:15%;">{{book.price | currency}}</td>
                    <td style="width:25%;font-weight:bold;">{{((book.price)*2).toFixed(2) | currency}}</td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Total: {{(store.totalCartValue())*2 | currency}}</td>
                </tr>
                </tfoot>
            </table>

            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:15%;">
                            <span>Login</span>
                        </th>

                        <th style="width:15%;">
                            <span>Password</span>
                        </th>

                        <th style="width:15%;">
                            <span>Name</span>
                        </th>

                        <th style="width:55%;">
                            <span>Shipping address</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width:20%;">
                            <input type="text" class="form-control" placeholder="Enter your login"
                                   ng-model="order.customer.login" ng-required="true">
                        </td>
                        <td style="width:20%;">
                            <input type="password" class="form-control" placeholder="Enter your password"
                                   ng-model="order.customer.password" ng-required="true">
                        </td>
                        <td style="width:20%;">
                            <input type="text" class="form-control" placeholder="Enter your name"
                                   ng-model="order.customer.name" ng-required="true">
                        </td>
                        <td style="width:40%;">
                            <input type="text" class="form-control" placeholder="Number" ng-model="order.address.number"
                                   ng-required="true">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:60%; text-align:center" colspan="2">
                            <span>Payment Info</span>
                        </td>
                        <td style="width:20%;">
                            <select ng-model="order.payment.type" style="width:100%;">
                                <option value="">Payment Type</option>
                                <option value="CASH">CASH</option>
                                <option value="CREDIT">CREDIT</option>
                            </select>
                        </td>
                        <td style="width:40%;">
                            <input type="text" class="form-control" placeholder="Street" ng-model="order.address.street"
                                   ng-required="true">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;" colspan="2">
                            <input ng-show="order.payment.type=='CREDIT'" type="text" class="form-control"
                                   placeholder="Cardholder Name" ng-model="order.payment.cardHolderName">
                        </td>
                        <td style="width:20%;">
                            <input ng-show="order.payment.type=='CREDIT'" type="text" colspan="2" class="form-control"
                                   placeholder="Card number" ng-model="order.payment.cardNumber">
                        </td>
                        <td style="width:40%;">
                            <input type="text" class="form-control" placeholder="Complement"
                                   ng-model="order.address.complement">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;">
                            <select ng-show="order.payment.type=='CREDIT'" ng-model="order.payment.expirationMonth"
                                    style="width:100%;">
                                <option value="">Expiration Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </td>
                        <td style="width:20%;">
                            <select ng-show="order.payment.type=='CREDIT'" ng-model="order.payment.expirationYear"
                                    style="width:100%;">
                                <option value="">Expiration Year</option>
                                <option value="14">2014</option>
                                <option value="15">2015</option>
                                <option value="16">2016</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                            </select>
                        </td>
                        <td style="width:20%;">
                            <input ng-show="order.payment.type=='CREDIT'" type="number" colspan="2" class="form-control"
                                   placeholder="Security Number" min="001" max="999" ng-maxlength="2" ng-minlength="2"
                                   ng-model="order.payment.securityCode">
                        </td>
                        <td style="width:40%;">
                            <input type="text" class="form-control" placeholder="City" ng-model="order.address.city"
                                   ng-required="true">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;"/>
                        <td style="width:20%;"/>
                        <td style="width:20%;"/>
                        <td style="width:40%;">
                            <input type="text" class="form-control" placeholder="State" ng-model="order.address.state"
                                   ng-required="true">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;"/>
                        <td style="width:20%;"/>
                        <td style="width:20%;"/>
                        <td style="width:40%;">
                            <input type="number" min="1" class="form-control" placeholder="Zipcode"
                                   ng-model="order.address.zipcode" ng-required="true">
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="font-weight:bold;" colspan="5">{{store.totalCartValue() | currency}}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div style="text-align:right;">
                <button type="button" class="btn btn-danger btn-xs" ng-click="store.clearCart()">Clear cart</button>
                <button type="button" class="btn btn-success btn-xs" ng-click="store.createOrder(store.viewCart())">
                    Place order
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-xs-12" ng-show="orderPlaced!=undefined">
    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{store.checkOrderStatus(orderPlaced)}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="store.cancelOrder(orderPlaced)">Cancel
                        order
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>