<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>BookStore</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="WS project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

    <script type="text/javascript" src="store.js"></script>
    <style type="text/css">
        .error {
            color: darkred;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Online BookStore</h1>
        <span>24 hours</span>
    </div>

</div>

<div class="container">
    <h2></h2><br/>
    <ul class="nav nav-tabs">
        <li ng-class="{active: (active == '/books')}">
            <a ng-click="active = '/books'" href="#/books">Books</a>
        </li>
        <li ng-class="{active: (active == '/checkout')}">
            <a ng-click="active = '/checkout'" href="#/checkout">Checkout</a>
        </li>
        <li ng-class="{active: (active == '/status')}">
            <a ng-click="active = '/status'" href="#/status">Status</a>
        </li>
    </ul>
    <br/><br/>

    <div ng-view></div>
</div>
<div ng-controller="myController">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
</div>

<footer class="container text-center"><p>&copy; 2015 Online BookStore International Ltd.</p></footer>

</body>
</html>